registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
progress=false
loglevel=error
cache-min=3600
prefer-offline=true 